body {
    margin: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.MuiDataGrid-root {
    background-color: white;
}

.MuiDataGrid-columnHeaders {
    background-color: #200062;
    color: white;
    min-height: 40px !important;
    height: 40px !important;
    max-height: 40px !important;
}

.MuiDataGrid-row:not(:nth-child(even)) {
    background-color: #f5f0ff !important;
}

.MuiDataGrid-row:hover {
    cursor: pointer;
}
